.bdimg
{
	background-image: url(../../img/10.jpg);
	background-repeat:no-repeat;
	background-position:00px 300px;
	background-size:1500px 900px;
	height:1000px;
	
	
	
}
            /*----menubar----*/
.menubar{
	background:white
		}


.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav ul li {
    float: left;
}

.nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
				/*<-------Box--------->*/
				

.login{color:white;}
.email{color:white;}
.email1{width:30%;color:black;}
		
.pass{color:white;}
.formclass{
	margin-top:50px;
	margin-left:650px;
	
}
.text1{
	color:black;
	width:50%;}
.text2{color:black}
.button {
	margin-top:22px;
	margin-left:500px;
    background-color: #4CAF50; /* Green */
    width:75px;
    height:30px;
}
.button1 {
	margin-top:50px;
	margin-left:450px;	
    background-color: #800000; /* Green */
    width:40%;
    height:40px;
	border-radius: 12px;
	color:white;
	font-size:25px;
}
.button2 {
	margin-top:20px;
	margin-left:250px;	
    background-color: #4CAF50; /* Green */
    width:15%;
    height:35px;
	border-radius: 12px;
	color:white;
	
}
.form1 {
	margin-top:00px;
	margin-left:520px;	
   }
.input1{
	width: 46%;
	height:40px;
	box-sizing: border-box;
	border-radius: 12px;
	font-size:18px;
     }
	 
.formfeed {
	margin-top:00px;
	margin-left:520px;	
   }
.inputfeed{
	width: 46%;
	height:30px;
	box-sizing: border-box;
	font-size:14px;
     }
	 
.table1{
	margin-top:20px;
	margin-left:0px;
	 width:100%;
	 
	
}
 .th1{
	
	 height:40px;
	 text-align:center;
	 font-size:17px;
    background-color: #4CAF50;
	border-radius: 8px;
    color: white;
}
.td1{
	
	 height:40px;
	 text-align:center;
	 font-size:14px;
    background-color: #7FFFD4;
	border-radius: 8px;
    color: black;
	
}
	

